body {
    --itemScale: 1.0;
    --itemSize: calc(64px * var(--itemScale));
    --itemHalfSize: calc(var(--itemSize) / 2);
    
    --mapScale: 1.0;
    --mapMiniSize: calc(16px * var(--mapScale));

    background-color: rgb(0,0,0);
    margin: 0;
    color: white;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

a {
    color: rgb(128,128,255);
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline-block;
    vertical-align:middle;
    margin-left:20px
}

label {
    float: left;
    padding-top: 5px;
    text-align: right;
    width: 140px;
}

#legend {
    float: right;
}

#credits {
    text-align: center;
    color:grey;
    width:300px;
}

#caption {
    position: absolute;
    top: 100%;
    left: 20px;
    text-align: left;
    font-size: calc(100% * var(--mapScale));
}

.flex {
    display: flex;
}

.below-layout {    
    flex-direction: column;
    align-items: first baseline;
}

.side-layout {
    flex-direction: row;
}

.settings{
    background-color: rgb(0,0,0);
    position: absolute;
    right:0;
    bottom:0;
    z-index : 10;
    display: none;
    max-height: 100vh;
    overflow-y: auto;
}

#settingsbutton{
    position: absolute;
    right:0;
    bottom:0;
    z-index : 11;
    background-color: rgb(0,0,0);
    color: red;
}

.itemconfig {
    border-spacing: 0;
    border: 1px solid white;
}

.corner{
    width: calc(32px * var(--itemScale));
    height: calc(32px * var(--itemScale));
    color: lightgray;
    font: calc(26px * var(--itemScale)) 'VT323', monospace;
    cursor: default;
    text-shadow: 0 0 calc(3px * var(--itemScale)) black;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.editcell {
    font-size: 20px;
}

.textCounter {
    right: 0;
    bottom: 0;
    font: calc(40px * var(--itemScale)) 'VT323', monospace;
    cursor: default;
    color: #fdd549;
    user-select: none;
    text-align: center;
    text-shadow: calc(-2px * var(--itemScale)) calc(-2px * var(--itemScale)) calc(1px * var(--itemScale)) black;
    margin-bottom: calc(10px * var(--itemScale));    
}

.true{
    opacity: 1;
}

.false{
    opacity: 0.25;
}

.mini {
    width: var(--mapMiniSize);
    height: var(--mapMiniSize);
    vertical-align: text-bottom;
}

.boss {
    width: calc(24px * var(--mapScale));
    height: calc(24px * var(--mapScale));

    background: no-repeat center;
    background-size: 75%;

    z-index: 2;
}

.dungeon {
    width: calc(48px * var(--mapScale));
    height: calc(48px * var(--mapScale));
    border: calc(6px * var(--mapScale)) solid #202020;
}

.itemdiv{
    position: relative;
    transform-origin: top left;
    left: 0;
}

#mapdiv {
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: top left;
    position: relative;
    left: 0;
    flex-shrink: 0;
}

.mapdiv {
    background-image: url("images/map.png");
    width: calc(884px * var(--mapScale));
    height: calc(442px * var(--mapScale));
}

.mapvdiv {
    background-image: url("images/mapv.png");
    width: calc(438px * var(--mapScale));
    height: calc(888px * var(--mapScale));
}

.chest{
    width: calc(24px * var(--mapScale));
    height: calc(24px * var(--mapScale));
    background-size: 100% 100%;
    border: calc(3px * var(--mapScale)) solid #202020;
}

.unavailable{
    background-color: rgb(255,0,0);
}

.available{
    background-color: rgb(0,255,0);
    color: rgb(0,0,0);
}

.visible{
    background-color: rgb(255,255,0);
    color: rgb(0,0,0);
}

.partial{
    background-color: rgb(0,255,0);
    color: rgb(0,0,0);
}

.agahnim{
    background-color: rgb(0,255,255);
    color: rgb(0,0,0);
}

.glitchavailable{
    background-color: rgb(0,127,0);
}

.glitchvisible{
    background-color: rgb(192,192,0);
}

.glitchpartial{
    background-color: rgb(0,127,0);
    color: rgb(0,0,0);
}

.glitchagahnim {
    background-color: rgb(0,160,160);
}

.opened{
    background-color: rgb(127,127,127);
}

.map-anchor {
    position: absolute;
    background-color: #202020;
}

.mapspan {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapspan:hover {
    border-color: #fff200;
}

.item-row {
    display: flex;
    justify-content: center;
}

.vueTrackerTable {
    display: flex;
    flex-direction: column;
    background-color: black;
}

.item-cell {
    background-size: cover;
    height: calc(var(--itemHalfSize) * 2);
    width: var(--itemSize);
    display: inline-block;
    position: relative;
}

.item-cell > span {
    display: block;
    position: absolute;
    height: var(--itemHalfSize);
    width: var(--itemHalfSize);
    background-size: cover;
}

.item-chest {
    top: var(--itemHalfSize);
}

.item-prize {
    top: var(--itemHalfSize);
    left: var(--itemHalfSize);
}

.item-medallion {
    left: var(--itemHalfSize);
}